<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Choice, Please</h1>
    
    <select name="dinner">
        <option value="{{quests.content1}}"selected="selected">{{quests.content1}}</option>
        <option value="{{quests.content2}}">{{quests.content2}}</option></option>
        <option value="{{quests.content3}}">{{quests.content3}}</option>
    </select>
    <input type="submit" value="Submit"/>
</body>
</html>