<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>What is your choice?</h2>
    <h2>{{ question.title }}</h2>
    <form action="{% url 'Survey:update' %}" method="post">
        {% csrf_token %}
        <select name="Select">
        {% for choice in question.choice_set.all %}
          <option value="{{ choice.content }}" name="content">{{ choice.content }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>